:root {
  --white: white;

  --gray-100: #f2f2f2;
  --gray-200: #d9d9d9;
  --gray-300: #808080;
  --gray-400: #333333;
  --gray-500: #262626;
  --gray-600: #1a1a1a;
  --gray-700: #0d0d0d;

  --purple-400: #8284fa;
  --purple-600: #5e60ce;

  --blue-400: #4ea8de;
  --blue-600: #1e6f9f;

  --red-400: #e25858;

  --font-family: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus {
  outline: 2px solid var(--purple-400);
}

body {
  background-color: var(--gray-600);
}

body,
input,
textarea,
button,
p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 140%;
}
